In [1]:
# from datetime import datetime, date
# import warnings
# import numpy as np
# import os
# import glob
# import pandas as pd
# import matplotlib.pyplot as plt
# import seaborn as sns
# from IPython.display import display
# pd.options.display.max_columns = None
# warnings.filterwarnings('ignore')

In [2]:
%store -r recent_sales

In [3]:
recent_sales = recent_sales

In [4]:
recent_sales.duplicated(subset=['Address','Suburb'],keep=False)

1        False
5        False
6960     False
0        False
13963    False
         ...
6952     False
6944      True
6931      True
6933     False
6930      True
Length: 19305, dtype: bool

In [5]:
flipped = recent_sales[recent_sales.duplicated(subset=['Address','Suburb'],keep=False)].sort_values(['Address','Suburb'])
flipped

,Address,Suburb,Beds,Baths,Carpark,Type,Size,By,Price,Date
11074,1 Boyle St,Ermington Nsw 2115,5.0,3.0,2.0,House,461.6,Private Sale,2153000,2021-08-31
11073,1 Boyle St,Ermington Nsw 2115,5.0,3.0,2.0,House,461.6,Private Sale,2153000,2021-08-31
9359,1 Bribie Cl,Green Valley Nsw 2168,6.0,2.0,2.0,House,793.5,Auction,1200000,2021-09-18
9358,1 Bribie Cl,Green Valley Nsw 2168,6.0,2.0,2.0,House,793.5,Auction,1200000,2021-09-18
11557,1 Curtis St,Banksia Nsw 2216,3.0,2.0,1.0,House,309.8,Auction,1890000,2021-08-26
...,...,...,...,...,...,...,...,...,...,...
7524,Croatia Ave,Edmondson Park Nsw 2174,4.0,2.0,2.0,House,337.3,Private Sale,889000,2021-10-14
10979,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,260.5,Private Sale,785000,2021-09-01
10977,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,1667.0,Private Sale,785000,2021-09-01
10976,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,1667.0,Private Sale,785000,2021-09-01
10980,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,284.3,Private Sale,785000,2021-09-01

In [6]:
flipped.tail(5)

,Address,Suburb,Beds,Baths,Carpark,Type,Size,By,Price,Date
7524,Croatia Ave,Edmondson Park Nsw 2174,4.0,2.0,2.0,House,337.3,Private Sale,889000,2021-10-14
10979,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,260.5,Private Sale,785000,2021-09-01
10977,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,1667.0,Private Sale,785000,2021-09-01
10976,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,1667.0,Private Sale,785000,2021-09-01
10980,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,284.3,Private Sale,785000,2021-09-01

* So there are at least 4444/2 = 2222 properties flipped or simply sold again during the period from Sept to Oct.