In [1]:
%store -r recent_sales

In [6]:
recent_sales.shape

(19305, 10)

In [7]:
recent_sales.head()

,Address,Suburb,Beds,Baths,Carpark,Type,Size,By,Price,Date
1,13/28A Henry St,Ashfield Nsw 2131,2.0,1.0,1.0,Unit,0.0,Auction,650000,2021-11-01
5,1201/6 Charles St,Parramatta Nsw 2150,2.0,2.0,1.0,Unit,0.0,Private Sale,605000,2021-11-01
6960,4 Yvette St,Baulkham Hills Nsw 2153,4.0,2.0,1.0,House,695.6,Private Sale,1625000,2021-11-01
0,9/46 Stewart St,Ermington Nsw 2115,3.0,2.0,1.0,Townhouse,0.0,Private Sale,960000,2021-11-01
13963,42/585 Canterbury Rd,Belmore Nsw 2192,2.0,2.0,1.0,Apartment,0.0,Private Sale,602000,2021-11-01

,Address,Suburb,Beds,Baths,Carpark,Type,Size,By,Price,Date
14707,70/95 Annandale St,Annandale Nsw 2038,1.0,NaN,0.0,Apartment,0.0,Private Sale,300000,2021-10-04
9216,102 Broomfield St,Cabramatta Nsw 2166,1.0,NaN,1.0,House,885.2,Auction,2150000,2021-09-20
11123,27B Alfred Rd,Forest Lodge Nsw 2037,2.0,2.0,2.0,House,NaN,Auction,2085000,2021-08-31
16585,6/78 Cambridge St,Stanmore Nsw 2048,1.0,NaN,0.0,Apartment,0.0,Private Sale,427000,2021-08-27
16869,213/303 Botany Rd,Zetland Nsw 2017,1.0,NaN,0.0,Apartment,0.0,Private Sale,580000,2021-08-21
16962,28/1 Dwyer St,Chippendale Nsw 2008,1.0,NaN,0.0,Apartment,0.0,Private Sale,370000,2021-08-20
12528,63 Amarco Cct,The Ponds Nsw 2769,2.0,NaN,1.0,House,600.3,Private Sale,1530000,2021-08-16
12613,5 Burnell St,Drummoyne Nsw 2047,4.0,2.0,4.0,House,NaN,Auction,7575000,2021-08-14
17791,38/5 Darley St,Darlinghurst Nsw 2010,1.0,NaN,0.0,Apartment,0.0,Auction,485000,2021-08-03
18091,618/18 Park Ln,Chippendale Nsw 2008,1.0,NaN,0.0,Apartment,0.0,Private Sale,575000,2021-07-27
18093,102/13 Waine St,Surry Hills Nsw 2010,1.0,NaN,0.0,Apartment,0.0,Private Sale,342000,2021-07-27
18801,39/9 Ward Ave,Potts Point Nsw 2011,1.0,NaN,0.0,Apartment,0.0,Private Sale,330000,2021-07-15
18816,109/72 Henrietta St,Waverley Nsw 2024,1.0,NaN,0.0,Apartment,0.0,Auction,500000,2021-07-14
19106,1/80 Victoria Rd,Marrickville Nsw 2204,1.0,NaN,0.0,Apartment,0.0,Auction,505000,2021-07-08
20093,402/355 Kent St,Sydney Nsw 2000,1.0,NaN,0.0,Apartment,0.0,Private Sale,660000,2021-06-22
20361,22/60 Drumalbyn Rd,Bellevue Hill Nsw 2023,1.0,NaN,0.0,Apartment,0.0,Private Sale,450000,2021-06-18
4527,26/22 Great Western Hwy,Parramatta Nsw 2150,1.0,NaN,0.0,Apartment,0.0,Private Sale,220000,2021-03-19
6664,41/80 Elizabeth Bay Rd,Elizabeth Bay Nsw 2011,1.0,NaN,0.0,Apartment,0.0,Private Sale,405000,2020-11-13

In [3]:
recent_sales.duplicated(subset=['Address','Suburb'],keep=False)

1        False
5        False
6960     False
0        False
13963    False
         ...
6952     False
6944      True
6931      True
6933     False
6930      True
Length: 19305, dtype: bool

In [4]:
flipped = recent_sales[recent_sales.duplicated(subset=['Address','Suburb'],keep=False)].sort_values(['Address','Suburb'])
flipped

,Address,Suburb,Beds,Baths,Carpark,Type,Size,By,Price,Date
11074,1 Boyle St,Ermington Nsw 2115,5.0,3.0,2.0,House,461.6,Private Sale,2153000,2021-08-31
11073,1 Boyle St,Ermington Nsw 2115,5.0,3.0,2.0,House,461.6,Private Sale,2153000,2021-08-31
9359,1 Bribie Cl,Green Valley Nsw 2168,6.0,2.0,2.0,House,793.5,Auction,1200000,2021-09-18
9358,1 Bribie Cl,Green Valley Nsw 2168,6.0,2.0,2.0,House,793.5,Auction,1200000,2021-09-18
11557,1 Curtis St,Banksia Nsw 2216,3.0,2.0,1.0,House,309.8,Auction,1890000,2021-08-26
...,...,...,...,...,...,...,...,...,...,...
7524,Croatia Ave,Edmondson Park Nsw 2174,4.0,2.0,2.0,House,337.3,Private Sale,889000,2021-10-14
10979,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,260.5,Private Sale,785000,2021-09-01
10977,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,1667.0,Private Sale,785000,2021-09-01
10976,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,1667.0,Private Sale,785000,2021-09-01
10980,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,284.3,Private Sale,785000,2021-09-01

In [5]:
flipped.tail(5)

,Address,Suburb,Beds,Baths,Carpark,Type,Size,By,Price,Date
7524,Croatia Ave,Edmondson Park Nsw 2174,4.0,2.0,2.0,House,337.3,Private Sale,889000,2021-10-14
10979,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,260.5,Private Sale,785000,2021-09-01
10977,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,1667.0,Private Sale,785000,2021-09-01
10976,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,1667.0,Private Sale,785000,2021-09-01
10980,Mason Rd,Box Hill Nsw 2765,4.0,2.0,1.0,House,284.3,Private Sale,785000,2021-09-01

* So there are at least 4444/2 = 2222 properties flipped or simply sold again during the period from Sept to Oct.